@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root {
  --nav-height: 50px;
  --nav-background: #eee;
  --btn-hover-background: black;
  --btn-hover-color: white;
  --error-background: #f8d7da;
  --form-background: #c4cbdf;
  --font-color: black;
  --font-size: 1.25rem;
  --lightGrey: #eee;
  --medGrey: #353535;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
